	
	#footerFullC {
		position: absolute;
		display: inline-block;
		width: 96%; height: 45px;
		bottom: 0;
		left: 50%;
		transform: translate(-50%, 0);
		z-index: 1;
	}
	#footerC {
		position: relative;
		display: block;
		width: 100%; height: 99%;
		background-image: linear-gradient(120deg, rgb(0, 4, 40) 0%, rgb(0, 78, 146) 100%);
		font-size: 15px;
		box-shadow: 0 0 4px black;
		margin: 1% 0 0 0;
	}

		#footerLeftCopywrightC {
			position: relative;
			display: block;
			float: left;
			top: 50%;
			left: 20px;
			transform: translate(0, -50%);
		}
		#footerLeftCopywrightTextC {

		}
		#footerLeftCopywrightTextP {
			color: lightgrey;
		}

		#footerRightEmailC {
			position: relative;
			display: block;
			float: right;
			top: 50%;
			right: 20px;
			transform: translate(0, -50%);
		}
		#footerRightEmailTextC {

		}
		#footerRightEmailTextP {
			color: darkgrey;
			font-style: italic;
		}
		#footerRightEmailTextP span {
			color: lightgrey;
			font-style: normal;
			margin: 0 0 0 5px;
		}


	/*SCREEN WIDTH UNDER 1200px*/
	@media only screen and (max-width: 1200px) {
		#footerC {
			font-size: 14px;
		}
	}

	/*SCREEN WIDTH UNDER 1000px*/
	@media only screen and (max-width: 1000px) {
	}

	/*SCREEN WIDTH UNDER 850px*/
	@media only screen and (max-width: 850px) {
		#footerFullC {
			height: 35px;
		}
		#footerC {
			font-size: 13px;
		}
	}

	/*SCREEN WIDTH UNDER 650px*/
	@media only screen and (max-width: 650px) {
		#footerC {
			font-size: 10px;
		}
	}

	/*SCREEN WIDTH UNDER 450px*/
	@media only screen and (max-width: 450px) {
		#footerFullC {
			height: 30px;
		}
		#footerC {
			font-size: 9px;
		}

		#footerLeftCopywrightC {
			left: 10px;
		}
		
		#footerRightEmailC {
			right: 10px;
		}
		#footerRightEmailTextP span {
			margin: 0 0 0 1px;
		}
	}


	/*SCREEN WIDTH UNDER 300px*/
	@media only screen and (max-width: 300px) {
		#footerFullC {
			height: 20px;
		}
		#footerC {
			font-size: 5px;
		}

		#footerLeftCopywrightC {
			left: 6px;
		}
		
		#footerRightEmailC {
			right: 6px;
		}
	}



	/*ANIMATIONS*/
	@keyframes MovingInMenuLine {
		0% {
			left: 0;
		}
		50% {
			left: 95%;
		}
		100% {
			left: 0;
		}
	}

	@keyframes ChangeSocialInfoPosToCenter {
		0% {
			left: 0;
			transform: translate(0, 0);
		}
		100% {
			left: -50%;
			transform: translate(50%, 0);
		}
	}