	/*FONT-FAMILIES USED*/
	@import url('https://fonts.googleapis.com/css?family=Roboto Flex');

	html {
		width: 100%; height: 100%;
	}

	body {
		display: block;
		width: 100%; height: 100%;
		background: rgb(0, 4, 40, 0.9);
		font-family: Poppins, sans-serif;
		margin: 0;
		padding: 0;
	}

	#loadRedirectC {
		position: relative;
		display: inline-block;
		background: transparent;
		width: 60%;
		min-width: 170px; max-width: 800px;
		top: 50%;
		left: 50%;
		padding: 4px;
		transform: translate(-50%, -50%);
	}

		#loadingTitleC {
			position: relative;
			display: inline-block;
			left: 50%;
			padding: 0 10px 0 10px;
			transform: translate(-50%, 0);
		}
		#loadingTitleC h1 {
			color: white;
			font-size: 22px;
			font-weight: normal;
			text-align: center;
			margin: 0;
		}
		#loadingTitleC h1 span {
			animation: ColorChangeFont 0.8s linear alternate infinite;
		}

		#loadingFullC {
			position: relative;
			display: block;
			width: 100%; height: 20px;
			background: rgb(255, 255, 255, 0.2);
			border-radius: 2px;
			overflow: hidden;
			margin: 6px 0 6px 0;
		}
		#loadingBarC {
			width: 0; height: 100%;
			background: linear-gradient(120deg, rgba(117, 42, 6, 0.5) 0%, rgba(117, 42, 6, 1) 100%);
		}

		#loadingCountC {
			position: relative;
			display: inline-block;
			left: 50%;
			margin: 2px 0 0 0;
			transform: translate(-50%, 0);
		}
		#loadingCountP {
			color: white;
			font-size: 21px;
			margin: 0;
			padding: 0;
		}
		#loadingCountPercentSp {
			animation: ColorChangeFont 0.8s linear alternate infinite;
		}

	/*SCREEN RESIZE*/

	/*SCREEN WIDTH UNDER 1000px*/
	@media only screen and (max-width: 1000px) {

	}

	/*SCREEN WIDTH UNDER 850px*/
	@media only screen and (max-width: 850px) {
		#loadingTitleC h1 {
			font-size: 18px;
		}

		#loadingFullC {
			position: relative;
			display: block;
			width: 100%; height: 15px;
		}

		#loadingCountP {
			font-size: 17px;
		}
	}

	/*SCREEN WIDTH UNDER 500px*/
	@media only screen and (max-width: 500px) {
		#loadRedirectC {
			width: 70%;
		}

		#loadingTitleC h1 {
			font-size: 16px;
		}

		#loadingFullC {
			width: 100%; height: 10px;
			margin: 4px 0 4px 0;
		}

		#loadingCountP {
			font-size: 15px;
		}
	}

	/*SCREEN WIDTH UNDER 350px*/
	@media only screen and (max-width: 350px) {
		#loadingTitleC h1 {
			font-size: 13px;
		}


		#loadingCountP {
			font-size: 12px;
		}
	}

	/*ANIMATIONS*/
	@keyframes ColorChangeFont {
		0% {
			color: rgb(117, 42, 6);
		}
		100% {
			color: rgb(255, 255, 255, 0.6);
		}
	}
