	/*FONT-FAMILIES USED*/
	@import url('https://fonts.googleapis.com/css?family=Roboto Flex');

	html {
		width: 100%; height: 100%;
	}

	body {
		display: block;
		width: 100%; height: 100%;
		background: rgb(0, 4, 41);
		font-family: Poppins, sans-serif;
		margin: 0;
		padding: 0;
	}

	#loadRedirectC {
		position: relative;
		display: inline-block;
		background: transparent;
		width: 35%;
		min-width: 170px;
		top: 50%;
		left: 50%;
		padding: 4px;
		transform: translate(-50%, -50%);
	}

		#loadingTitleC {
			position: relative;
			display: inline-block;
			left: 50%;
			padding: 0 10px 0 10px;
			transform: translate(-50%, 0);
		}
		#loadingTitleC h1 {
			color: white;
			font-size: 18px;
			font-weight: normal;
			margin: 0;
		}

		#loadingFullC {
			position: relative;
			display: block;
			width: 100%; height: 8px;
			background: rgb(255, 255, 255, 0.2);
			border-radius: 2px;
			overflow: hidden;
			margin: 6px 0 6px 0;
		}
		#loadingBarC {
			width: 0; height: 100%;
			background: linear-gradient(90deg, rgb(117, 42, 6) 50%, rgb(191, 69, 10));
		}

		#loadingCountC {
			position: relative;
			display: inline-block;
			left: 50%;
			margin: 2px 0 0 0;
			transform: translate(-50%, 0);
		}
		#loadingCountP {
			color: white;
			font-size: 15px;
			margin: 0;
			padding: 0;
		}

	/*SCREEN RESIZE*/

	/*SCREEN WIDTH UNDER 1000px*/
	@media only screen and (max-width: 1000px) {
		#loadingTitleC h1 {
			font-size: 15px;
		}

		#loadingCountP {
			font-size: 11px;
		}
	}

	/*SCREEN WIDTH UNDER 780px*/
	@media only screen and (max-width: 780px) {
		#loadingTitleC h1 {
			font-size: 12px;
		}

		#loadingCountP {
			font-size: 11px;
		}
	}

	/*SCREEN WIDTH UNDER 630px*/
	@media only screen and (max-width: 630px) {
		#loadingTitleC h1 {
			font-size: 10px;
		}

		#loadingFullC {
			margin: 2px 0 0 0;
		}

		#loadingCountP {
			font-size: 8px;
		}
	}

	/*SCREEN WIDTH UNDER 550px*/
	@media only screen and (max-width: 550px) {
		#loadingTitleC h1 {
			font-size: 8px;
		}

		#loadingFullC {
			margin: 2px 0 -4px 0;
		}


		#loadingCountP {
			font-size: 7px;
		}
	}
