		@import url('leftBackgroundMovingStyle.css');

		#leftBodyTCC {
			position: relative;
			display: table-cell;
			width: 140px; height: 100%;
			background: rgb(0, 31, 80);
			background-image: linear-gradient(#000428 0%, rgb(0, 31, 80) 40%);
			box-shadow: 0 0 6px black;
			z-index: 1;
			transition: width 0.4s;
		}

		#leftBackgroundC {
			position: absolute;
			display: block;
			width: inherit; height: 100%;
			background: transparent;
		}
		
		#leftBodyC {
			position: fixed;
			display: block;
			width: inherit; height: 100%;
			background: transparent;
		}
			#upLeftC {
				position: relative;
				display: block;
				width: 100%; height: 80px;
				background: transparent;
			}
			#openMenuBtnC {
				position: relative;
				display: inline-block;
				width: 40px; height: 40px;
				background: transparent;
				top: 60%;
				left: 50%;
				transform: translate(-50%, -50%);
			}
			#openMenuBtn {
				position: relative;
				display: block;
				width: 100%; height: 100%;
				background: transparent;
				border-radius: 0;
				border: none;
				cursor: pointer;
				padding: 2px;
			}
			#menuImg {
				width: 100%; height: 100%;
				content: url('../Assets/menu7.png');
				transform: rotateY(180deg);
			}

			#downLeftC {
				position: absolute;
				display: block;
				width: 100%;
				background: transparent;
				top: 80px;
				bottom: 0;
			}
			#downMenuBtnLineC {
				position: relative;
				display: block;
				width: 90%; height: 4px;
				background: rgba(255, 255, 255, 0.2);
				left: 50%;
				opacity: 0;
				transform: translate(-50%, 0);
				transition: opacity 0.5s;
			}
			#downMenuBtnMovingInLineC {
				position: absolute;
				width: 5%; height: 100%;
				background: white;
				border-radius: 5px;
				left: 0;
				animation: MovingInMenuLine 2s linear 0s infinite normal;
				animation-play-state: paused;
				animation-fill-mode: forwards;
			}

			#downMenuC {
				position: relative;
				display: block;
				width: 100%;
				background: transparent;
				overflow: hidden;
				top: 30%;
				transform: translate(0, -50%);
			}
				#menuHideC {
					position: absolute;
					display: block;
					float: left;
					width: 100%; height: 100%;
					background: transparent;
					z-index: 1;
					transform: translate(0, 0);
					transition: transform 0.7s;
				}

				#menuShowC {
					position: relative;
					display: block;
					width: 100%;
					background: transparent;
					padding: 4px 0 4px 0;
					transform: translate(-100%, 0);
					transition: transform 0.7s;
				}
				#menuCenterShowC {
					position: relative;
					display: inline-block;
					height: 100%;
					background: transparent;
					left: 50%;
					transform: translate(-50%, 0);
				}
					#homeLeftMenuC {
						margin-top: 0;
					}
					#resumeLeftMenuC {

					}
					#aboutMeLeftMenuC {

					}
					#contactLeftMenuC {
						
					}
					.leftMenuBtnC {
						position: relative;
						display: block;
						background: transparent;
						margin-top: 15px;
					}
					.leftMenuBtn {
						position: relative;
						display: inline-block;
						background: transparent;
						border: none;
						border-bottom: 1px solid rgba(255, 255, 255, 0.2);
						cursor: pointer;
						padding: 2px 4px 2px 4px;
					}
					.leftMenuBtn:hover {
						background: rgba(255, 255, 255, 0.4);
					}
					.leftMenuTextC {
						position: relative;
						display: inline-block;
						float: left;
						color: white;
						font-size: 18px;
					}
					.leftMenuImg {
						position: relative;
						display: inline-block;
						width: 12px; height: 12px;
						background: transparent;
						content: url('../Assets/arrow1.png');
						margin: 5px 0 0 5px;
					}
					.leftMenuBtn:hover .leftMenuImg {
						content: url('../Assets/arrow2.png');
					}

					#rightLineLeftMenuC {
						position: absolute;
						display: block;
						width: 5px; height: 100%;
						background: rgba(117, 42, 6, 0.5);
						top: 0;
						right: 14px;
						opacity: 0;
						transition: opacity 1s;
					}

				#menuProfileInfoC {
					position: absolute;
					display: block;
					width: 100%;
					background: transparent;
					bottom: 0;
				}
				#menuProfileInfoCC {
					position: relative;
					display: inline-block;
					float: right;
					background: transparent;
					left: 0;
					padding: 5px 10px 5px 10px;
					transform: translate(0, 0);
				}
					#facebookProfC {

					}
					#facebookProfImg {
						content: url('../Assets/facebook1.png');
					}
					#facebookProfC:hover #facebookProfImg{
						content: url('../Assets/facebook3.png');
					}
					#instagramProfC {

					}
					#instagramProfImg {
						content: url('../Assets/instagram1.png');
					}
					#instagramProfC:hover #instagramProfImg{
						content: url('../Assets/instagram3.png');
					}
					#linkedInProfC {

					}
					#linkedInProfImg {
						content: url('../Assets/linkedIn1.png');
					}
					#linkedInProfC:hover #linkedInProfImg{
						content: url('../Assets/linkedIn3.png');
					}
					#githubProfC {
						margin-bottom: 2px;
					}
					#githubProfImg {
						content: url('../Assets/gitHub4.png');
					}
					#githubProfC:hover #githubProfImg{
						content: url('../Assets/gitHub6.png');
					}
					.menuProfC {
						position: relative;
						display: block;
						width: 35px; height: 35px;
						background: transparent;
						margin-top: 8px;
					}
					.menuProfL {
						position: relative;
						display: block;
						width: 100%; height: 100%;
						cursor: pointer;
					}
					.menuProfImg {
						position: relative;
						display: block;
						width: 100%; height: 100%;
					}


	/*ANIMATIONS*/
	@keyframes MovingInMenuLine {
		0% {
			left: 0;
		}
		50% {
			left: 95%;
		}
		100% {
			left: 0;
		}
	}

	@keyframes ChangeSocialInfoPosToCenter {
		0% {
			left: 0;
			transform: translate(0, 0);
		}
		100% {
			left: -50%;
			transform: translate(50%, 0);
		}
	}

	@keyframes ChangeSocialInfoPosToRight {
		0% {
			left: -50%;
			transform: translate(50%, 0);
		}
		100% {
			left: 0;
			transform: translate(0, 0);
		}
	}