		@import url('leftBackgroundMovingStyle.css');

		#leftBodyTCC {
			position: relative;
			display: table-cell;
			width: 140px; height: 100%;
			background-image: linear-gradient(#000428 0%, rgb(0, 31, 80) 40%);
			box-shadow: 0 0 6px black;
			z-index: 2;
			transition: width 0.4s;
		}

		#leftBackgroundC {
			position: absolute;
			display: block;
			width: inherit; height: 100%;
			background: transparent;
		}
		
		#leftBodyC {
			position: fixed;
			display: block;
			width: inherit; height: 100%;
			background: transparent;
		}
			#upLeftC {
				position: relative;
				display: block;
				width: 100%; height: 80px;
				background: transparent;
				margin: 0;
				padding: 0;
			}
			#openMenuBtnC {
				position: relative;
				display: inline-block;
				width: 40px; height: 40px;
				top: 60%;
				left: 50%;
				overflow: hidden;
				transform: translate(-50%, -50%);
			}
			#openMenuBtn {
				position: relative;
				display: block;
				width: 100%; height: 100%;
				background: transparent;
				border-radius: 0;
				border: none;
				cursor: pointer;
				padding: 4px;
			}
			#menuImg {
				width: 100%; height: 100%;
				content: url('../Assets/menu7.png');
				transform: rotateY(180deg);
			}

			#downLeftC {
				position: absolute;
				display: block;
				width: 100%;
				background: transparent;
				top: 80px;
				bottom: 0;
				overflow: hidden;
			}
			#downLeftWrapC {
				position: relative;
				display: block;
				width: 100%; height: 100%;
			}

			#downMenuBtnLineC {
				position: relative;
				display: block;
				width: 90%; height: 4px;
				max-width: 150px;
				background: rgba(255, 255, 255, 0.2);
				left: 50%;
				opacity: 0;
				transform: translate(-50%, 0);
				transition: opacity 0.5s;
			}
			#downMenuBtnMovingInLineC {
				position: absolute;
				width: 5%; height: 100%;
				background: white;
				border-radius: 5px;
				left: 0;
				animation: MovingInMenuLine 8s 0s infinite normal;
				animation-play-state: paused;
				animation-fill-mode: forwards;
			}

			#downMainMenuC {
				position: relative;
				display: block;
				width: 100%; height: 100%;
			}
				
				#downMenuC {
					position: relative;
					display: block;
					width: 100%; height: 50%;
					background: transparent;
					overflow: hidden;
				}
				#menuHideC {
					position: absolute;
					display: block;
					float: left;
					width: 100%; height: 100%;
					background: transparent;
					z-index: 1;
					transform: translate(0, 0);
					transition: transform 0.7s;
				}
				#menuShowC {
					position: relative;
					display: block;
					width: 100%; height: 100%;
					background: transparent;
					transform: translate(-100%, 0);
					transition: transform 0.7s;
				}
				#menuWrapShowC {
					position: relative;
					display: inline-block;
					width: 100%;
					background: transparent;
					top: 50%;
					transform: translate(0, -50%);
				}
				#menuCenterShowC {
					position: relative;
					display: inline-block;
					background: transparent;
					left: 50%;
					transform: translate(-50%, 0);
				}
					#homeLeftMenuC {
						margin-top: 0;
					}
					#resumeLeftMenuC {

					}
					#aboutMeLeftMenuC {

					}
					#contactLeftMenuC {
						
					}
					.leftMenuBtnC {
						position: relative;
						display: block;
						background: transparent;
						margin-top: 15px;
					}
					.leftMenuBtn {
						position: relative;
						display: inline-block;
						background: transparent;
						border: none;
						border-bottom: 1px solid rgba(255, 255, 255, 0.2);
						cursor: pointer;
						padding: 2px 4px 2px 4px;
					}
					.leftMenuBtn:hover {
						background: rgba(255, 255, 255, 0.4);
					}
					.leftMenuTextC {
						position: relative;
						display: inline-block;
						float: left;
						color: white;
					}
					.leftMenuImg {
						position: absolute;
						display: inline-block;
						background: transparent;
						top: 55%;
						content: url('../Assets/arrow1.png');
						transform: translate(0, -50%);
					}
					.leftMenuBtn:hover .leftMenuImg {
						content: url('../Assets/arrow2.png');
					}

					#rightLineLeftMenuC {
						position: absolute;
						display: block;
						width: 5px; height: 100%;
						background: rgba(117, 42, 6, 0.5);
						top: 0;
						right: 14px;
						opacity: 0;
						transition: opacity 1s;
					}

				#menuSplitHeightC {
					position: relative;
					display: block;
					width: 100%; height: 10%;
					background: transparent;
				}

				#menuProfileInfoC {
					position: relative;
					display: block;
					width: 100%; height: 40%;
					background: transparent;
				}
				#menuProfileInfoCC {
					position: absolute;
					display: inline-block;
					float: right;
					background: transparent;
					bottom: 50%;
					right: 50%;
					padding: 5px 10px 5px 10px;
					transform: translate(50%, 0);
					transition: bottom 0.6s, right 0.6s, transform 0.6s;
				}
					#facebookProfC {
						margin-top: 0;
					}
					#facebookProfImg {
						content: url('../Assets/facebook1.png');
					}
					#facebookProfC:hover #facebookProfImg{
						content: url('../Assets/facebook3.png');
					}
					#instagramProfC {

					}
					#instagramProfImg {
						content: url('../Assets/instagram1.png');
					}
					#instagramProfC:hover #instagramProfImg{
						content: url('../Assets/instagram3.png');
					}
					#twitterProfC {

					}
					#twitterProfImg {
						content: url('../Assets/twitter1.png');
					}
					#twitterProfC:hover #twitterProfImg{
						content: url('../Assets/twitter3.png');
					}
					#linkedInProfC {

					}
					#linkedInProfImg {
						content: url('../Assets/linkedIn1.png');
					}
					#linkedInProfC:hover #linkedInProfImg{
						content: url('../Assets/linkedIn3.png');
					}
					#githubProfC {
						margin-bottom: 2px;
					}
					#githubProfImg {
						content: url('../Assets/gitHub4.png');
					}
					#githubProfC:hover #githubProfImg{
						content: url('../Assets/gitHub6.png');
					}
					.menuProfC {
						position: relative;
						display: block;
						width: 30px; height: 30px;
						background: transparent;
						margin: 10px;
						transition: transform 0.8s;
					}
					.menuProfL {
						position: relative;
						display: block;
						width: 100%; height: 100%;
						cursor: pointer;
					}
					.menuProfImg {
						position: relative;
						display: block;
						width: 100%; height: 100%;
					}



	/*SCREEN WIDTH UNDER 1200px*/
	@media only screen and (max-width: 1200px) {
		#leftBodyTCC {
			width: 120px;
		}
	}

	/*SCREEN WIDTH UNDER 1200px*/
	@media only screen and (max-width: 1000px) {
		#upLeftC {
			height: 70px;
		}

		#downLeftC {
			top: 70px;
		}
	}


	/*SCREEN WIDTH UNDER 850px*/
	@media only screen and (max-width: 850px) {
		#leftBodyTCC {
			position: absolute;
			width: 0;
			background-image: linear-gradient(rgb(0, 4, 40, 0.9) 0%, rgb(0, 31, 80, 0.9) 40%);
		}

		#openMenuBtnC {
			border-radius: 0 2px 2px 0;
			transform: translate(0, -50%);
		}

		#rightLineLeftMenuC {
			display: none;
		}
	}

	/*SCREEN WIDTH UNDER 650px*/
	@media only screen and (max-width: 650px) {
		#upLeftC {
			height: 60px;
		}

		#openMenuBtnC {
			width: 35px; height: 35px;
		}

		#downLeftC {
			top: 60px;
		}
	}

	/*SCREEN WIDTH UNDER 450px*/
	@media only screen and (max-width: 450px) {
		#upLeftC {
			height: 50px;
		}

		#downLeftC {
			top: 50px;
		}
	}

	/*SCREEN WIDTH UNDER 300px*/
	@media only screen and (max-width: 300px) {
		#upLeftC {
			height: 45px;
		}

		#downLeftC {
			top: 45px;
		}

		.menuProfC {
			width: 26px; height: 26px;
		}
	}



				
	/*ANIMATIONS*/
	@keyframes MovingInMenuLine {
		0%, 20% {
			left: 0;
		}
		50%, 80% {
			left: 95%;
		}
		100% {
			left: 0;
		}
	}