	/*FONT-FAMILIES USED*/
	@import url('https://fonts.googleapis.com/css?family=Flamenco');
	@import url('https://fonts.googleapis.com/css?family=Roboto Flex');

	@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

	/*CSS FILES*/
	/*1*/
	@import url('../Css/leftMenuStyle.css');
	/*2*/
	@import url('../Css/topBarStyle.css');
	/*3*/
	@import url('../Css/rightMainStyle.css');
	/*4*/
	@import url('../Css/footerStyle.css');


	html {
		height: 100%;
		overflow: auto;
		box-sizing: border-box;
	}

	p {
		margin: 0;
		padding: 0;
	}

	h2 {
		font-size: 24px;
	}

	body {
		position: relative;
		display: block;
		width: 100%;
		min-width: 205px; min-height: 590px;
		background: linear-gradient(120deg, rgb(189, 195, 199) 50%, rgb(44, 62, 80) 100%);
		background-repeat: 1;
		font-family: Display;
		margin: 0;
		padding: 0;
	}

	a:link {
		font-style: italic;
		color: white;
		text-decoration: underline;
	}

	a:visited {
		color: rgb(184, 62, 4);
		text-decoration: none;
	}

	a:hover {
		color: var(--highlightTextColor);
		text-decoration: underline;
	}

	button {
		font-family: Display;
	}

	/*SPECIFIC CONTENT FROM NOW ON*/
	#bodyC {
		position: relative;
		display: flex;
		width: 100%; height: 100%;
		background: linear-gradient(120deg, rgb(189, 195, 199) 50%, rgb(44, 62, 80) 100%);
		box-sizing: content-box;
		overflow: auto;
	}
		#leftBodyTCC {
			position: relative;
			display: flex;
			float: left;
			width: 140px;
			background: linear-gradient(120deg, rgb(0, 4, 40, 0.7) 0%, rgb(44, 62, 80, 0.7) 50%, rgb(0, 4, 40, 0.7) 100%);
			box-shadow: 0 0 6px black;
			z-index: 20;
			transition: width 0.2s;
		}
		/*LEFT MENU IMPORT HERE*/
		/*1*/

		#rightBodyTCC {
			position: relative;
			flex: 1;
			float: right;
			height: 100%;
			overflow: auto;
			background: linear-gradient(120deg, rgb(189, 195, 199) 50%, rgb(44, 62, 80) 100%);
		}
		#rightBodyC {
			position: relative;
			display: block;
			width: 96%;
			margin: 0 2% 10px 2%;
		}
			
		/*TOP BAR IMPORT HERE*/
		/*2*/

		#downRightC {
			position: relative;
			display: block;
			width: 100%;
			background: black;
			border-radius: 2px;
			overflow: hidden;
			margin-top: 10px;
			transition: background 0.1s;
		}

		/*RIGHT MAIN IMPORT HERE*/
		/*3*/


		#footerFullC {
			position: relative;
			display: block;
			width: 96%; height: 45px;
			background: transparent;
			bottom: 0;
			left: 50%;
			transform: translate(-50%, 0);
			z-index: 1;
		}
		/*FOOTER CONTAINER IMPORT HERE*/
		/*4*/



	/*UNDER CONSTRUCTION CSS*/
	.underConstrtuctionC {
		position: relative;
		display: block;
		width: 100%; height: 100%;
		background: rgb(255, 255, 255, 0.2);
	}
	.underConstrtuctionWrapC {
		position: absolute;
		display: block;
		background: transparent;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
	}
		.underConstrtuctionHeadImgC {
			position: relative;
			display: block;
			margin: auto;
		}
		.underConstrtuctionHeadImg {
			position: relative;
			display: block;
			width: 100%; width: 100%;
		}

		.underConstrtuctionTextC {
			position: relative;
			display: block;
			margin: -20px 0 15px 0;
		}
		.underConstrtuctionTextP {
			text-align: center;
			text-decoration: underline;
		}

		.underConstrtuctionImgC {
			position: relative;
			display: block;
			margin: auto;
		}
		.underConstrtuctionImg {
			position: relative;
			display: block;
			width: 100%; height: 100%;
			animation: Loading 1s ease-in-out 0.4s infinite;
			animation-fill-mode: forwards;
		}

	/*GENERAL RULES ELEMENTS*/
	.big_Title {
		font-size: 34px;
	}
	.medium_Title {
		font-size: 24px;
	}
	.small_Title {
		font-size: 22px;
	}
	.highlight_Title {
		color: var(--highlightTextColor) !important;
		font-weight: bold !important;
	}

	.medium_Highlight_Text {
		color: var(--highlightTextColor) !important;
		font-size: 20px;
		font-weight: bold !important;
	}
	.simple_Highlight_Text {
		color: var(--highlightTextColor) !important;
		font-size: 18px;
		font-weight: bold !important;
	}

	.simple_Text {
		font-size: 18px;
	}
	.small_Text {
		font-size: 16px;
	}

	/*SCREEN RESIZE*/
	/*SCREEN WIDTH UNDER 1200px*/
	@media only screen and (max-width: 1200px) {
		#leftBodyTCC {
			width: 120px;
		}
	}

	/*SCREEN WIDTH UNDER 1000px*/
	@media only screen and (max-width: 1000px) {
		/*GENERAL STYLING*/
		.big_Title {
			font-size: 32px;
		}
		.medium_Title {
			font-size: 23px;
		}
		.small_Title {
			font-size: 19px;
		}

		.medium_Highlight_Text {
			font-size: 19px;
		}
		.simple_Highlight_Text {
			font-size: 17px;
		}

		.simple_Text {
			font-size: 17px;
		}
		.small_Text {
			font-size: 15px;
		}
	}

	/*SCREEN WIDTH UNDER 850px*/
	@media only screen and (max-width: 850px) {
		#bodyC {
			display: table;
		}

		#leftBodyTCC {
			position: absolute;
			display: table-cell;
			width: 0; height: 100%;
			background: transparent;
		}

		#rightBodyTCC {
			display: table-cell;
			flex: 0;
			width: 100%;
		}

		/*GENERAL STYLING*/
		.big_Title {
			font-size: 30px;
		}
		.medium_Title {
			font-size: 22px;
		}
		.small_Title {
			font-size: 18px;
		}

		.medium_Highlight_Text {
			font-size: 18px;
		}
		.simple_Highlight_Text {
			font-size: 16px;
		}

		.simple_Text {
			font-size: 16px;
		}
		.small_Text {
			font-size: 15px;
		}
	}

	/*SCREEN WIDTH UNDER 650px*/
	@media only screen and (max-width: 650px) {
		.big_Title {
			font-size: 28px;
		}
		.medium_Title {
			font-size: 20px;
		}
		.small_Title {
			font-size: 16px;
		}

		.medium_Highlight_Text {
			font-size: 16px;
		}
		.simple_Highlight_Text {
			font-size: 15px;
		}

		.simple_Text {
			font-size: 15px;
		}
		.small_Text {
			font-size: 14px;
		}
	}

	/*SCREEN WIDTH UNDER 450px*/
	@media only screen and (max-width: 450px) {
		/*GENERAL STYLING*/
		.big_Title {
			font-size: 25px;
		}
		.medium_Title {
			font-size: 18px;
		}
		.small_Title {
			font-size: 14px;
		}

		.medium_Highlight_Text {
			font-size: 15px;
		}
		.simple_Highlight_Text {
			font-size: 14px;
		}

		.simple_Text {
			font-size: 12px;
		}
		.small_Text {
			font-size: 11px;
		}
	}

	/*SCREEN WIDTH UNDER 350px*/
	@media only screen and (max-width: 350px) {	
		/*GENERAL STYLING*/
		.big_Title {
			font-size: 18px;
		}
		.medium_Title {
			font-size: 16px;
		}
		.small_Title {
			font-size: 12px;
		}

		.medium_Highlight_Text {
			font-size: 13px;
		}
		.simple_Highlight_Text {
			font-size: 12px;
		}

		.simple_Text {
			font-size: 10px;
		}
		.small_Text {
			font-size: 9px;
		}
	}

	@keyframes Loading {
		0% {
			transform: rotate(0deg);
		}
		100% {
			transform: rotate(360deg);
		}
	}
	/**/