	
	/*CSS FILES*/
	/*1*/
	@import url('../Css/leftMenuStyle.css');
	/*2*/
	@import url('../Css/topBarStyle.css');
	/*3*/
	@import url('../Css/rightMainStyle.css');
	/*4*/
	@import url('../Css/footerStyle.css');


	html {
		height: 100%;
		overflow: auto;
	}

	p {
		margin: 0;
		padding: 0;
	}

	h2 {
		font-size: 24px;
	}

	body {
		position: relative;
		display: block;
		width: 100%;
		min-width: 205px; min-height: 590px;
		background: linear-gradient(120deg, rgb(189, 195, 199) 50%, rgb(44, 62, 80) 100%);
		background-repeat: 1;
		font-family: Display;
		margin: 0;
		padding: 0;
	}

	#bodyC {
		position: relative;
		display: flex;
		width: 100%; height: 100%;
		background: linear-gradient(120deg, rgb(189, 195, 199) 50%, rgb(44, 62, 80) 100%);
		box-sizing: content-box;
		overflow: auto;
	}
		#leftBodyTCC {
			position: relative;
			display: flex;
			width: 140px;
			background: linear-gradient(120deg, rgb(0, 4, 40, 0.7) 0%, rgb(44, 62, 80, 0.7) 50%, rgb(0, 4, 40, 0.7) 100%);
			box-shadow: 0 0 6px black;
			z-index: 20;
			transition: width 0.4s;
		}
		/*LEFT MENU IMPORT HERE*/
		/*1*/

		#rightBodyTCC {
			position: relative;
			flex: 1;
			height: 100%;
			overflow: auto;
			background: linear-gradient(120deg, rgb(189, 195, 199) 50%, rgb(44, 62, 80) 100%);
		}
		#rightBodyC {
			position: relative;
			display: block;
			width: 96%;
			margin: 0 2% 10px 2%;
		}
			
		/*TOP BAR IMPORT HERE*/
		/*2*/

		#downRightC {
			position: relative;
			display: block;
			width: 100%;
			background: black;
			border-radius: 2px;
			overflow: hidden;
			margin-top: 10px;
			transition: background 0.1s;
		}

		/*RIGHT MAIN IMPORT HERE*/
		/*3*/


		#footerFullC {
			position: relative;
			display: block;
			width: 96%; height: 45px;
			background: transparent;
			bottom: 0;
			left: 50%;
			transform: translate(-50%, 0);
			z-index: 1;
		}
		/*FOOTER CONTAINER IMPORT HERE*/
		/*4*/



	/*UNDER CONSTRUCTION CSS*/
	.underConstrtuctionC {
		position: relative;
		display: block;
		width: 100%; height: 100%;
		background: rgb(255, 255, 255, 0.2);
	}
	.underConstrtuctionWrapC {
		position: absolute;
		display: block;
		background: transparent;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
	}
		.underConstrtuctionHeadImgC {
			position: relative;
			display: block;
			margin: auto;
		}
		.underConstrtuctionHeadImg {
			position: relative;
			display: block;
			width: 100%; width: 100%;
		}

		.underConstrtuctionTextC {
			position: relative;
			display: block;
			margin: -20px 0 15px 0;
		}
		.underConstrtuctionTextP {
			text-align: center;
			text-decoration: underline;
		}

		.underConstrtuctionImgC {
			position: relative;
			display: block;
			margin: auto;
		}
		.underConstrtuctionImg {
			position: relative;
			display: block;
			width: 100%; height: 100%;
			animation: Loading 1s ease-in-out 0.4s infinite;
			animation-fill-mode: forwards;
		}

	@keyframes Loading {
		0% {
			transform: rotate(0deg);
		}
		100% {
			transform: rotate(360deg);
		}
	}
	/**/