	/*FONT-FAMILIES USED*/
	@import url('https://fonts.googleapis.com/css?family=Flamenco');
	@import url('https://fonts.googleapis.com/css?family=Roboto Flex');

	@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

	@import url('../Css/mainPageCoreStyle.css');
		
	/*GENERAL RULES ELEMENTS*/
	:root {
		--colorToHighlight: rgb(117, 42, 6);
	}

	/*SPECIFIC CONTENT FROM NOW ON*/
	#mainHomeC {
		position: relative;
		display: block;
		width: 100%; height: 100%;		
		animation: OpacityElements 1s linear 1;
		animation-fill-mode: forwards;
	}

		#mainHomeBackgroundC {
			position: absolute;
			display: block;
			width: 100%; height: 100%;
			background: transparent;
		}

		#mainHomeBodyC {
			position: relative;
			display: inline-block;
			width: 100%;
			background: transparent;
			left: 50%;
			transform: translate(-50%, 0);
		}
		#homeMainUpC {
			position: relative;
			display: block;
			width: 100%; height: 300px;
		}
				
			#homeMainUpTitleTextH {
				position: absolute;
				display: block;
				float: right;
				color: white;
				background: transparent;
				font-weight: normal;
				top: 38%;
				right: 10%;
				margin: 0;
				transform: translate(0, -50%);
				z-index: 1;
				animation: OnOffHeaderHome 15s linear 1s infinite;
				animation-fill-mode: forwards;
			}
					
			#homeMainUpImgC {
				position: relative;
				display: block;
				width: 100%; height: 100%;
				background: transparent;
				overflow: hidden;
				box-sizing: border-box;
				/*background-image: linear-gradient(120deg, rgb(0, 4, 40, 0.5) 0%, rgb(0, 78, 146, 0.5) 100%);*/
			}
			#homebackgroundImgAnimationC {
				position: absolute;
				display: block;
				background: rgba(255, 255, 255, 0.4);
				animation: HomeBehindImgPerimeterMove 3s linear 0.8s 1;
				animation-fill-mode: forwards;
			}
			#homeMainUpImg {
				position: relative;
				display: inline-block;
				width: 99%; height: 98%;
				border-radius: 2px;
				top: 50%;
				left: 50%;
				transform: translate(-50%, -50%);
				content: url('../Assets/background6.jpg');
			}

			#homeMainUpImgFilterC {
				position: absolute;
				display: block;
				width: 100%; height: 100%;
				background: rgb(0, 0, 0, 0.5);
				top: 0px;
				left: 0px;
			}

			#homeTopInfoC {
				position: absolute;
				display: block;
				background: transparent;
				top: 8px;
				left: 10px;
			}
				
				#myProfileImgC {
					position: relative;
					display: block;
					float: left;
					width: 80px; height: 80px;
					margin: 4px 0 0 -13px;
				}
				#myProfileImgBtn {
					position: relative;
					display: block;
					width: 100%; height: 100%;
					background: transparent;
					border-radius: 10px 20px 80% 20px;
					border: none;
					cursor: pointer;
					overflow: hidden;
					margin: 0;
					padding: 0;
				}
				#myProfileImg {
					width: 100%; height: 100%;
					background: transparent;
					content: url(../Assets/robot1.png);
				}

				#myProfileHeadLinesC {
					position: relative;
					display: inline-block;
					margin: 0 5px 0 15px;
				}

				#firstHomeHeaderLineMainC {
					position: relative;
					display: block;
					background: transparent;
				}
					#myProfileFirstLineInfoC {
						margin: 5px 5px 0 5px;
					}
						#myProfileFirstLineInfoP {
							font-size: 22px;
						}
						#typeWriterFirstLineSp {
							width: 2px; height: 25px;
						}

				#secondHomeHeaderLineMainC {
					position: relative;
					display: block;
					background: transparent;
				}
					#myProfileSecondLineInfoC {
						margin: 8px 5px 0 5px;
					}
						#myProfileSecondLineInfoP {
							font-size: 16px;
							animation: ChangeFontStyle 1s linear infinite;
						}
						#typeWriterSecondLineSp {
							width: 2px; height: 19px;
						}

				#robotCommentC {
					opacity: 1;
					margin: 7px 5px 0 1px;
					transition: opacity 0.7s;
				}
					#robotCommentP {
						font-size: 16px;
						color: rgba(255, 255, 255, 0.4);
					}
					#robotCommentSp {
						width: 2px; height: 19px;
						background: rgb(117, 42, 6);
					}

					.codeTitleSp {

					}

					.homeHeaderLinesC {
						position: relative;
						display: inline-block;
						background: transparent;
					}
					.homeHeaderLinesC span:nth-child(1) {
						color: rgb(168,168,168);
					}
					.homeHeaderLinesC span:nth-child(2) {
						color: rgb(117, 42, 6);
					}
					.homeHeaderLinesC span:nth-child(3) {
						color: rgb(168,168,168);
					}
					.writerVectorInfoC {
						position: relative;
						display: inline-block;
						background: transparent;
					}
						.writerVectorP {
							position: relative;
							display: inline-block;
							background: transparent;
							color: white;
							margin: 0;
							padding: 0 2px 0 0;

						}	
						.writerVectorSp {
							position: relative;
							display: none;
							float: right;
							background: rgb(255, 255, 255);
							margin: 0;
							padding: 0;
							animation: TypeWriterFlickering 0.3s linear infinite alternate;
						}

		#homeMainC {
			position: relative;
			display: block;
			width: 100%;
			background: transparent;
			overflow: hidden;
			padding: 0;
		}
		#homeMainCenterC {
			position: relative;
			display: block;
			width: 100%;
			border-radius: 5px;
			overflow: hidden;
			margin: 20px 0 5% 0;
		}

			#homeIntroductionC {
				position: relative;
				display: block;
				width: 80%;
				background: rgb(2, 19, 35, 0);
				border-radius: 2px;
				left: 50%;
				margin: 20px 0 20px 0;
				transform: translate(-50%, 0);
			}
			#homeIntroductionH {
				position: relative;
				display: inline-block;
				background: transparent;
				color: white;
				border-bottom: 2px solid white;
				left: 50%;
				margin: 5px 0 15px 0;
				padding: 0 4px 0 4px;
				transform: translate(-50%, 0);
			}
			#homeIntroductionHH {
				position: relative;
				background: transparent;
				color: white;
				font-size: 19px;
				font-weight: normal;
				text-align: center;
				margin: 0;
				padding: 0 0 5px 0;
			}

			#homeIntroImgAndSymbolsC {
				position: relative;
				display: block;
				height: 120px;
				background: rgb(0, 0, 0, 0.3);
				border: 1px solid white; border-left: none; border-right: none;
				left: 50%;
				overflow: hidden;
				box-sizing: border-box;
				margin: 20px 0 0 0;
				padding: 0;
				transform: translate(-50%, 0);
			}

				#homeLeftCoverIntroSymbolsC {
					position: absolute;
					display: block;
					width: 50%; height: 100%;
					background: linear-gradient(120deg, rgb(0, 4, 40, 0.7) 0%, rgb(44, 62, 80, 0.6) 100%);
					border: 1px solid rgb(255, 255, 255, 0.5);
					border-left: none;
					overflow: hidden;
					box-sizing: border-box;
					left: 0;
					z-index: 2;
				}
				#homeLeftCoverIntroSymbolsTextC {
					position: relative;
					display: block;
					float: right;
					top: 50%;
					right: 5%;
					transform: translate(0, -50%);
				}
				#homeLeftCoverIntroSymbolsTextC p {
					color: white;
					font-size: 30px;
				}

				#homeRightCoverIntroSymbolsC {
					position: absolute;
					display: block;
					width: 50%; height: 100%;
					background: linear-gradient(120deg, rgb(44, 62, 80, 0.6) 0%, rgb(0, 4, 40, 0.7) 100%);
					border: 1px solid rgb(255, 255, 255, 0.5);
					border-right: none;
					overflow: hidden;
					box-sizing: border-box;
					right: 0;
					z-index: 2;
				}
				#homeRightCoverIntroSymbolsTextC {
					position: relative;
					display: block;
					float: left;
					top: 50%;
					left: 5%;
					transform: translate(0, -50%);
				}
				#homeRightCoverIntroSymbolsTextC p {
					color: white;
					font-size: 30px;
				}
				
				#homeIntroKeywordsSymbolC {
					position: absolute;
					display: block;
					width: 100px;
					color: transparent;
					transform: translate(0, -60%);
				}
				.homeKeywordSymbolC {
					position: relative;
					display: block;
					overflow: visible;
					margin: 6px 0 6px 0;
				}
				.homeKeywordSymbolC p {
					display: block;
					width: 100%;
					border-radius: 4px;
					font-size: 16px;
					font-weight: bold;
					text-align: center;
					padding: 4px 0 4px 0;
				}

				#homeIntroSymbolsC {
					position: relative;
					display: inline-block;
					height: 100%;
					left: 50%;
					box-sizing: border-box;
					padding: 0;
					transform: translate(-50%, 0);
				}

					#homeFirstSymbolC {
					}
					#homeFirstSymbolImg {
						content: url('../Assets/book3.png');
					}

					#homeSecondSymbolC {
					}
					#homeSecondSymbolImg {
						content: url('../Assets/skills2.png');
					}

					#homeThirdSymbolC {
						width: 110px; height: 100px;
					}
					#homeThirdSymbolImgC {
						border-radius: 50%;
						box-shadow: 0 0 5px black;
					}
					#homeThirdSymbolImgC:hover {
						transform: none;
					}
					#imgFilterC {
						position: absolute;
						width: 100%; height: 100%;
						background: rgb(0, 0, 0, 0.2);
					}
					#homeThirdSymbolImg {
						border-radius: 50%;
						content: url('../Assets/profileImgCv3.jpg');
					}

					#homeFourthSymbolImg {
						content: url('../Assets/laptop2.png');
					}

					#homeFifthSymbolC {
						top: 52%;
					}
					#homeFifthSymbolImg {
						content: url('../Assets/graduate2.png');
					}

					.homeSymbolsC {
						position: relative;
						display: inline-block;
						float: left;
						width: 45px; height: 45px;
						top: 50%;
						margin: 0 20px 0 20px;
						transform: translate(0, -50%);
					}
					.homeSymbolsImgC {
						position: relative;
						display: block;
						width: 100%; height: 100%;
						background: transparent;
						overflow: hidden;
						transition: transform 0.6s;
					}
					.homeSymbolsImgC:hover {
						transform: rotate(360deg);
					}
					.homeSymbolsImg {
						position: relative;
						display: block;
						width: 100%; height: 100%;
					}

			#homeMiddleC {
				position: relative;
				display: block;
				display: inline-block;
				width: 100%;
				margin-top: 20px;
				z-index: 1;
			}

			#homeDescriptionContentC {
				position: relative;
				display: inline-block;
				width: 90%;
				background: transparent;
				left: 50%;
				margin-top: 10px;
				transform: translate(-50%, 0);
			}

				#homeContentLeftC {
					position: relative;
					display: block;
					float: left;
					width: 50%;
					background: transparent;
					color: white;
					border-radius: 4px;
					overflow: hidden;
				}

					#homeMotionLeftContentTitleSp {
						position: absolute;
						display: block;
						width: 20%; height: 100%;
					}

					#homeContentTopLeftC {
						position: relative;
						display: block;
						overflow: hidden;
					}
					#homeContentTopLeftTitleC {
						position: relative;
						display: inline-block;
						background: transparent;
						left: 50%;
						margin: 10px 0 10px 0;
						transform: translate(-50%, 0);
					}
					#homeContentTopLeftTitleH {
						background: transparent;
						color: white;
						border-bottom: 4px solid var(--colorToHighlight);
						margin: 0;
						padding: 0 5px 2px 5px;
					}

					#homeContentDownLeftC {
						position: relative;
						display: block;
					}
					#homeContentDownLeftTextC {
						position: relative;
						display: block;
						padding: 10px 10% 40px 10%;
					}
					#homeContentDownLeftTextP {
						border-radius: 4px;
						font-size: 18px;
						text-indent: 10%;
						box-shadow: 0 0 3px black;
						padding: 5%;
					}

				#homeContentRightC {
					position: relative;
					display: block;
					float: right;
					width: 50%;
					color: white;
					border-radius: 4px;
					overflow: hidden;
				}

					#homeMotionRightContentTitleSp {
						position: absolute;
						width: 20%; height: 100%;
					}

					#homeContentTopRightC {
						position: relative;
						display: block;
						overflow: hidden;
					}
					#homeContentTopRightTitleC {
						position: relative;
						display: inline-block;
						background: transparent;
						left: 50%;
						margin: 10px 0 10px 0;
						transform: translate(-50%, 0);
					}
					#homeContentTopRightTitleH {
						background: transparent;
						color: white;
						border-bottom: 4px solid var(--colorToHighlight);
						margin: 0;
						padding: 0 5px 2px 5px;
					}

					#homeContentDownRightC {
						position: relative;
						display: block;
					}
					#homeContentDownRightTextC {
						position: relative;
						display: block;
						padding: 10px 10% 40px 10%;
					}
					#homeContentDownRightTextP {
						border-radius: 4px;
						font-size: 18px;
						text-indent: 10%;
						box-shadow: 0 0 3px black;
						padding: 5%;
					}

				#homeContentDetailsC {
					position: relative;
					display: block;
					float: left;
					width: 100%;
					color: white;
					border-radius: 4px;
					overflow: hidden;
					margin-top: 20px;
				}

					#homeContentTopDetailsC {
						position: relative;
						display: block;
						background: transparent;
						overflow: hidden;
					}
					#homeContentTopDetailsTitleC {
						position: relative;
						display: inline-block;
						background: transparent;
						left: 50%;
						margin: 10px 0 10px 0;
						transform: translate(-50%, 0);
					}
					#homeContentTopDetailsTitleH {
						background: transparent;
						color: white;
						border-bottom: 4px solid var(--colorToHighlight);
						margin: 0;
						padding: 0 5px 2px 5px;
					}

					#homeContentDownDetailsC {
						position: relative;
						display: block;
					}
					#homeContentDownDetailsTextC {
						position: relative;
						display: block;
						padding: 10px 10% 40px 10%;
					}
					#homeContentDownDetailsTextParC {
						border-radius: 4px;
						font-size: 18px;
						box-shadow: 0 0 3px black;
						padding: 5%;
					}
					#homeContentDownDetailsTextParC p {
						text-indent: 10%;
					}

						#homeSendToAboutMeLink:link {
							font-style: italic;
							color: white;
							text-decoration: underline;
						}

						#homeSendToAboutMeLink:visited {
							color: rgb(184, 62, 4);
							text-decoration: none;
						}

						#homeSendToAboutMeLink:hover {
							color: rgb(117, 42, 6);
							text-decoration: underline;
						}

					.highlightTxt1 {
						color: var(--colorToHighlight);
					}


	/*SCREEN WIDTH UNDER 1200px*/
	@media only screen and (max-width: 1200px) {
		h2 {
			font-size: 22px;
		}

		#myProfileImgC {
			width: 70px; height: 70px;
		}

			.codeTitleSp {
				font-size: 15px;
			}

			#myProfileFirstLineInfoP {
				font-size: 21px;
			}
			#typeWriterFirstLineSp {
				height: 24px;
			}

			#myProfileSecondLineInfoP {
				font-size: 15px;
			}
			#typeWriterSecondLineSp {
				height: 18px;
			}

			#robotCommentP {
				font-size: 15px;
			}
			#robotCommentSp {
				height: 18px;
			}

		#homeIntroductionHH {
			font-size: 18px;
		}

		#homeIntroImgAndSymbolsC {
			height: 100px;
		}
			
			#homeLeftCoverIntroSymbolsTextC p {
				font-size: 26px;
			}

			#homeRightCoverIntroSymbolsTextC p {
				font-size: 26px;
			}

			.homeKeywordSymbolC p {
				font-size: 14px;
			}

			.homeSymbolsC {
				width: 40px; height: 40px;
				margin: 0 16px 0 16px;
			}
				#homeThirdSymbolC {
					width: 90px; height: 80px;
				}

			#homeContentDownLeftTextP {
				font-size: 16px;
			}

			#homeContentDownRightTextP {
				font-size: 16px;
			}

			#homeContentDetailsC {
				margin-top: 15px
			}
			#homeContentDownDetailsTextParC p {
				font-size: 18px;
			}
	}


	/*SCREEN WIDTH UNDER 1000px*/
	@media only screen and (max-width: 1000px) {
		h2 {
			font-size: 20px;
		}

		#myProfileImgC {
			width: 60px; height: 60px;
		}

			.codeTitleSp {
				font-size: 14px;
			}

			#myProfileFirstLineInfoP {
				font-size: 20px;
			}
			#typeWriterFirstLineSp {
				height: 23px;
			}

			#myProfileSecondLineInfoP {
				font-size: 14px;
			}
			#typeWriterSecondLineSp {
				height: 17px;
			}

			#robotCommentP {
				font-size: 14px;
			}
			#robotCommentSp {
				height: 17px;
			}

		#homeIntroductionHH {
			font-size: 17px;
		}

		#homeIntroImgAndSymbolsC {
			height: 90px;
		}

			#homeLeftCoverIntroSymbolsTextC p {
				font-size: 24px;
			}

			#homeRightCoverIntroSymbolsTextC p {
				font-size: 24px;
			}

			#homeIntroKeywordsSymbolC {
				width: 80px;
			}
				.homeKeywordSymbolC p {
					font-size: 12px;
				}

			.homeSymbolsC {
				width: 35px; height: 35px;
				margin: 0 14px 0 14px;
			}
				#homeThirdSymbolC {
					width: 80px; height: 70px;
				}

			#homeContentDownLeftTextP {
				font-size: 14px;
			}

			#homeContentDownRightTextP {
				font-size: 14px;
			}

			#homeContentDetailsC {
				margin-top: 10px
			}
			#homeContentDownDetailsTextParC p {
				font-size: 15px;
			}
	}

	/*SCREEN WIDTH UNDER 850px*/
	@media only screen and (max-width: 850px) {
		h2 {
			font-size: 18px;
		}

		#homeMainUpC {
			height: 260px;
		}
			#homeMainUpTitleTextH {
				font-size: 24px;
				top: 75%;
				right: 50%;
				transform: translate(50%, -50%);
			}

		#myProfileImgC {
			width: 55px; height: 55px;
		}

			.codeTitleSp {
				font-size: 13px;
			}
		
			#myProfileFirstLineInfoC {
				margin: 4px 5px 0 5px;
			}
				#myProfileFirstLineInfoP {
					font-size: 19px;
				}
				#typeWriterFirstLineSp {
					height: 22px;
				}

			#myProfileSecondLineInfoC {
				margin: 4px 5px 0 5px;
			}
				#myProfileSecondLineInfoP {
					font-size: 13px;
				}
				#typeWriterSecondLineSp {
					height: 16px;
				}

			#robotCommentC {
				margin: 3px 5px 0 1px;
			}
				#robotCommentP {
					font-size: 13px;
				}
				#robotCommentSp {
					height: 16px;
				}

		#homeIntroductionC {
			margin: 15px 0 20px 0;
		}
			#homeIntroductionHH {
				font-size: 16px;
			}

		#homeIntroImgAndSymbolsC {
			height: 80px;
		}

			#homeIntroKeywordsSymbolC {
				width: 80px;
			}
				.homeKeywordSymbolC p {
					font-size: 11px;
				}

			.homeSymbolsC {
				width: 30px; height: 30px;
				margin: 0 11px 0 11px;
			}
				#homeThirdSymbolC {
					width: 75px; height: 65px;
				}

		#homeMiddleC {
			margin-top: 10px;
		}

		#homeContentDownLeftTextP {
			font-size: 13px;
		}

		#homeContentDownRightTextP {
			font-size: 13px;
		}

		#homeContentDetailsC {
			margin-top: 5px
		}
		#homeContentDownDetailsTextParC p {
			font-size: 14px;
		}
	}

	/*SCREEN WIDTH UNDER 650px*/
	@media only screen and (max-width: 650px) {
		#homeMainUpC {
			height: 250px;
		}
			#homeMainUpTitleTextH {
				font-size: 22px;
				top: 75%;
				right: 50%;
				transform: translate(50%, -50%);
			}

			#myProfileImgC {
				width: 50px; height: 50px;
			}

			#myProfileHeadLinesC {
				font-size: 12px;
				margin: 0 5px 0 10px;
			}

				.codeTitleSp {
					font-size: 12px;
				}

				#myProfileFirstLineInfoC {
					margin: 2px 4px 0 4px;
				}
					#myProfileFirstLineInfoP {
						font-size: 17px;
					}
					#typeWriterFirstLineSp {
						height: 20px;
					}

				#myProfileSecondLineInfoC {
					margin: 2px 4px 0 4px;
				}
					#myProfileSecondLineInfoP {
						font-size: 13px;
					}
					#typeWriterSecondLineSp {
						height: 16px;
					}

				#robotCommentC {
					margin: 2px 5px 0 1px;
				}
					#robotCommentP {
						font-size: 12px;
					}
					#robotCommentSp {
						height: 15px;
					}

		#homeIntroductionC {
			margin: 10px 0 20px 0;
		}
			#homeIntroductionHH {
				font-size: 15px;
			}

		#homeLeftCoverIntroSymbolsTextC p {
			font-size: 20px;
		}

		#homeRightCoverIntroSymbolsTextC p {
			font-size: 20px;
		}

		#homeIntroKeywordsSymbolC {
			width: 60px;
		}
			.homeKeywordSymbolC p {
				font-size: 11px;
			}

		.homeSymbolsC {
			width: 25px; height: 25px;
			margin: 0 8px 0 8px;
		}
			#homeThirdSymbolC {
				width: 75px; height: 65px;
			}

		#homeContentLeftC {
			width: 100%;
		}
			#homeContentDownLeftTextC {
				padding: 10px 10% 30px 10%;
			}
				#homeContentTopLeftTitleC {
					margin: 5px 0 5px 0;
				}
					#homeContentTopLeftTitleH {
						border-bottom-width: 3px;
					}

					#homeContentDownLeftTextP {
						font-size: 13px;
					}

		#homeContentRightC {
			width: 100%;
		}
			#homeContentDownRightTextC {
				padding: 10px 10% 30px 10%;
			}
				#homeContentTopRightTitleC {
					margin: 5px 0 5px 0;
				}
					#homeContentTopRightTitleH {
						border-bottom-width: 3px;
					}

					#homeContentDownRightTextP {
						font-size: 13px;
					}

		#homeContentDetailsC {
			margin: 0;
		}
			#homeContentTopDetailsTitleC {
				margin: 5px 0 5px 0;
			}
				#homeContentTopDetailsTitleH {
					border-bottom-width: 3px;
				}

				#homeContentDownDetailsTextParC p {
					font-size: 14px;
				}
	}

	/*SCREEN WIDTH UNDER 450px*/
	@media only screen and (max-width: 450px) {
		h2 {
			font-size: 14px;
		}

		#homeMainUpC {
			height: 200px;
		}
			#homeMainUpTitleTextH {
				font-size: 14px;
			}

			#myProfileImgC {
				width: 40px; height: 40px;
			}

			#myProfileHeadLinesC {
				font-size: 9px;
				margin: 0 5px 0 5px;
			}

				.codeTitleSp {
					font-size: 9px;
				}

				#myProfileFirstLineInfoC {
					margin: 2px 2px 0 2px;
				}
					#myProfileFirstLineInfoP {
						font-size: 12px;
					}
					#typeWriterFirstLineSp {
						height: 15px;
					}

				#myProfileSecondLineInfoC {
					margin: 2px 2px 0 2px;
				}
					#myProfileSecondLineInfoP {
						font-size: 9px;
					}
					#typeWriterSecondLineSp {
						height: 12px;
					}

				#robotCommentC {
					margin: 2px 5px 0 1px;
				}
					#robotCommentP {
						font-size: 8px;
					}
					#robotCommentSp {
						height: 11px;
					}

		#homeIntroductionC {
			margin: 0 0 20px 0;
		}
			#homeIntroductionHH {
				font-size: 12px;
			}

		#homeIntroImgAndSymbolsC {
			height: 70px;
		}

			#homeLeftCoverIntroSymbolsTextC p {
				font-size: 16px;
			}

			#homeRightCoverIntroSymbolsTextC p {
				font-size: 16px;
			}

			#homeIntroKeywordsSymbolC {
				width: 50px;
			}
				.homeKeywordSymbolC p {
					font-size: 11px;
				}

			.homeSymbolsC {
				width: 20px; height: 20px;
				margin: 0 8px 0 8px;
			}
				#homeThirdSymbolC {
					width: 65px; height: 55px;
				}

		#homeMiddleC {
			margin-top: 10px;
		}

		#homeDescriptionContentC {
			margin-top: 0;
		}

			#homeContentLeftC {
				width: 100%;
			}
				#homeContentTopLeftTitleC {
					margin: 0;
				}
				
				#homeContentDownLeftTextP {
					font-size: 11px;
				}

			#homeContentRightC {
				width: 100%;
			}
				#homeContentTopRightTitleC {
					margin: 0;
				}
				
				#homeContentDownRightTextP {
					font-size: 11px;
				}

			#homeContentDetailsC {
				margin: 0;
			}
				#homeContentTopDetailsTitleC {
					margin: 0;
				}

				#homeContentDownDetailsTextParC p {
					font-size: 12px;
				}


	}

	/*SCREEN WIDTH UNDER 300px*/
	@media only screen and (max-width: 300px) {
		h2 {
			font-size: 12px;
		}

		#homeMainUpC {
			height: 160px;
		}
			#homeMainUpTitleTextH {
				font-size: 10px;
			}

			#myProfileImgC {
				width: 30px; height: 30px;
				margin-top: 0;
			}

			#myProfileHeadLinesC {
				font-size: 6px;
				margin: 0 2px 0 5px;
			}

				.codeTitleSp {
					font-size: 6px;
				}

				#myProfileFirstLineInfoC {
					margin: 1px 1px 0 1px;
				}
					#myProfileFirstLineInfoP {
						font-size: 10px;
					}
					#typeWriterFirstLineSp {
						height: 13px;
					}

				#myProfileSecondLineInfoC {
					margin: 1px 1px 0 1px;
				}
					#myProfileSecondLineInfoP {
						font-size: 7px;
					}
					#typeWriterSecondLineSp {
						height: 10px;
					}

				#robotCommentC {
					margin: 1px 5px 0 1px;
				}
					#robotCommentP {
						font-size: 6px;
					}
					#robotCommentSp {
						height: 9px;
					}

		#homeIntroductionC {
			margin: 0 0 20px 0;
		}
			#homeIntroductionHH {
				font-size: 10px;
			}

		#homeIntroImgAndSymbolsC {
			height: 60px;
		}

			#homeLeftCoverIntroSymbolsTextC p {
				font-size: 14px;
			}

			#homeRightCoverIntroSymbolsTextC p {
				font-size: 14px;
			}

			#homeIntroKeywordsSymbolC {
				width: 50px;
			}
				.homeKeywordSymbolC p {
					font-size: 8px;
				}

			.homeSymbolsC {
				width: 20px; height: 20px;
				margin: 0 4px 0 4px;
			}
				#homeThirdSymbolC {
					width: 60px; height: 50px;
				}

		#homeMiddleC {
			margin-top: 10px;
		}

		#homeDescriptionContentC {
			margin-top: 0;
		}

			#homeContentLeftC {
				width: 100%;
			}
				#homeContentTopLeftTitleC {
					margin: 0;
				}
					#homeContentTopLeftTitleH {
						border-bottom-width: 2px;
					}
				
					#homeContentDownLeftTextP {
						font-size: 9px;
					}

			#homeContentRightC {
				width: 100%;
			}
				#homeContentTopRightTitleC {
					margin: 0;
				}
					#homeContentTopRightTitleH {
						border-bottom-width: 2px;
					}

					#homeContentDownRightTextP {
						font-size: 9px;
					}
			
			#homeContentDetailsC {
				margin: 0;
			}
				#homeContentTopDetailsTitleC {
					margin: 0;
				}

					#homeContentTopDetailsTitleH {
						border-bottom-width: 2px;
					}

					#homeContentDownDetailsTextParC p {
						font-size: 10px;
					}
	}

	/*ANIMATIONS*/
	@keyframes OpacityElements {
		0% {
			opacity: 0;
		}
		100% {
			opacity: 1;
		}
	}

	@keyframes OnOffHeaderHome {
		0% {
			color: white;
		}
		30% {
			color: rgb(87, 126, 161);
		}
		50% {
			color: transparent;
		}
		70% {
			color: rgb(117, 42, 6);
		}
		100% {
			color: white;
		}
	}

	@keyframes HomeBehindImgPerimeterMove {
		0% {
			width: 6%; height: 1%;
			background: rgb(117, 42, 6);
			top: 0;
			left: 0;
			opacity: 1;
		}
		25% {
			width: 6%; height: 1%;
			top: 0;
			left: 96%;
		}
		26% {
			width: 0.5%; height: 10%;
			top: 0;
			left: 99.5%;
		}
		50% {
			width: 0.5%; height: 10%;
			top: 95%;
			left: 99.5%;

		}
		51% {
			width: 6%; height: 1%;
			top: 99%;;
			left: 96%;
		}
		75% {
			width: 6%; height: 1%;
			top: 99%;
			left: 0;
		}
		76% {
			width: 0.5%; height: 10%;
			top: 95%;
			left: 0;
			opacity: 1;
		}
		99% {
			width: 0.5%; height: 10%;
			top: 0;
			left: 0;
		}
		100% {
			width: 6%; height: 1%;
			top: 0;
			left: 0;
			opacity: 0;
		}
	}

	@keyframes ChangeFontStyle {
		0% {
			color: white;
		}
		50% {
			color: darkgrey;
		}
		100% {
			color: white;
		}
	}

	@keyframes TypeWriterFlickering {
		0% {
			opacity: 1;
		}
		40% {
			opacity: 1;
		}
		60% {
			opacity: 0;
		}
		100% {
			opacity: 0;
		}
	}

	@keyframes CloseLeftElement {
		0% {
			width: 50%;
			border: 1px solid rgb(255, 255, 255, 0.5);
			border-left: none;
		}
		99% {
			border: 1px solid rgb(255, 255, 255, 0.5);
			border-left: none;
		}
		100% {
			width: 0;
			border: none;
		}
	}

	@keyframes CloseRightElement {
		0% {
			width: 50%;
			border: 1px solid rgb(255, 255, 255, 0.5);
			border-right: none;
		}
		99% {
			border: 1px solid rgb(255, 255, 255, 0.5);
			border-right: none;
		}
		100% {
			width: 0;
			border: none;
		}
	}

	@keyframes AfterCloseElement {
		0% {
			box-shadow: none;
		}
		100% {
			box-shadow: 0 0 6px grey;
		}
	}

	@keyframes MovingKeywordsHomeLines {
		0% {
			border: 2px solid white;
			border-left: none;
			border-right: none;
			left: 8%;
			transform: translate(0, -105%);
		}
		50% {
			border: 2px solid rgb(117, 42, 6);
			border-left: none;
			border-right: none;
			left: 8%;
			transform: translate(0, 60%);
		}
		51% {
			border: 2px solid rgb(117, 42, 6);
			border-left: none;
			border-right: none;
			left: auto;
			right: 8%;
			transform: translate(0, 60%);
		}
		100% {
			border: 2px solid white;
			border-left: none;
			border-right: none;
			right: 8%;
			transform: translate(0, -105%);
		}
	}

	@keyframes TransformKeywordsHomeLines {
		0%, 100% {
			color: white;
		}
		50% {
			color: rgb(117, 42, 6);
		}
	}

	@keyframes ShiningTitle1 {
		0%, 25% {
			background-image: linear-gradient(90deg, rgb(56, 34, 35, 0.1) 0%, rgb(255, 255, 255, 0.1) 50%, rgb(56, 34, 35, 0.1) 100%);
			left: -60%;
			transform: skew(-45deg);
		}
		65%, 100% {
			background-image: linear-gradient(90deg, rgb(56, 34, 35, 0.1) 0%, rgb(255, 255, 255, 0.1) 50%, rgb(56, 34, 35, 0.1) 100%);
			left: 100%;
			transform: skew(0);
		}
	}

	@keyframes ShiningTitle2 {
		0%, 25% {
			background-image: linear-gradient(90deg, rgb(56, 34, 35, 0.1) 0%, rgb(255, 255, 255, 0.1) 50%, rgb(56, 34, 35, 0.1) 100%);
			right: -60%;
			transform: skew(45deg);
		}
		65%, 100% {
			background-image: linear-gradient(90deg, rgb(56, 34, 35, 0.1) 0%, rgb(255, 255, 255, 0.1) 50%, rgb(56, 34, 35, 0.1) 100%);
			right: 100%;
			transform: skew(0);
		}
	}