	/*FONT-FAMILIES USED*/
	@import url('https://fonts.googleapis.com/css?family=Flamenco');
	@import url('https://fonts.googleapis.com/css?family=Roboto Flex');

	@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

	/*CSS FILES*/
	/*1*/
	@import url('backgroundMovingStyle.css');


	html {
		height: 100%;
	}

	body {
		min-height: 100%;
		font-family: Roboto Flex;
		margin: 0;
		padding: 0;
	}

	p {
		margin: 0;
		padding: 0;
	}

	#mainBodyC {
		position: relative;
		display: block;
		height: 100%;
		background: blue;
	}

		#taskbarC {
			position: relative;
			display: block;
			width: 100%;
			height: 70px;
			background: black;
		}

		#mainScreenC {
			position: absolute;
			display: block;
			width: 100%;
			background: transparent;
		}

			#backgroundMainC {
				position: absolute;
				display: block;
				width: 100%;
				height: 800px;
				background: white;
			}

				/*HERE IMPORT CSS FILE 1*/

				#downBackgroundC {
					position: relative;
					display: block;
					width: 100%;
					height: 200px;
					background: rgb(15, 13, 18);
				}

					#downMainScreenHomeC {

					}

			#homeOverBackgroundScreenC {
				position: relative;
				display: block;
				width: 100%;
				height: 700px;
				border: 1px solid yellow;
				box-sizing: border-box;
				-moz-box-sizing: border-box;
				-webkit-box-sizing: border-box;
				-ms-box-sizing: border-box;
			}

				/*PROFILE INFO*/
				#aboutMeInfoC {
					position: relative;
					display: block;
					width: 100%; height: 25%;
					background: transparent;
					border: 1px solid blue;
					box-sizing: border-box;
					-moz-box-sizing: border-box;
					-webkit-box-sizing: border-box;
					-ms-box-sizing: border-box;
				}

					#lineAboutMeInfoC {
						position: relative;
						display: block;
						width: 90%;
						height: 6px;
						background: rgba(0, 0, 0, 0.5);
						top: 50%;
						left: 50%;
						border-radius: 10px;
						transform: translate(-50%, -50%);
					}

					#profilePicC {
						position: absolute;
						display: block;
						width: 140px;
						height: 140px;
						background: white;
						top: 50%;
						left: 10%;
						border-radius: 50%;
						transform: translate(-10%, -50%);
					}


				/*PROFILE DETAILS*/
				#mainScreenHomeC {
					position: relative;
					display: block;
					width: 100%; height: 75%;
					background: transparent;
					border: 1px solid red;
					box-sizing: border-box;
					-moz-box-sizing: border-box;
					-webkit-box-sizing: border-box;
					-ms-box-sizing: border-box;
				}

					#leftHomeC {
						position: relative;
						display: block;
						float: left;
						width: 49.5%;
						height: 100%;
						background: rgba(255, 255, 255, 0.4);
						left: 0.33%;
					}

					#rightHomeC {
						position: relative;
						display: block;
						float: right;
						width: 49.5%;
						height: 100%;
						background: rgba(255, 255, 255, 0.4);
						right: 0.33%;
					}


		#footerC {

		}

	/*SCREEN WIDTH UNDER 750px*/
	@media only screen and (max-width: 750px) {
		
	}


	/*ANIMATIONS*/
	@keyframes DarkGreenToGreen {
		from {
			color: darkgreen;
			box-shadow: 0 0 10px darkgreen;
			border-color: darkgreen;
		}
		to {
			color: green;
			box-shadow: 0 0 12px none;
			border-color: green;
		}
	}