	/*FONT-FAMILIES USED*/
	@import url('https://fonts.googleapis.com/css?family=Flamenco');
	@import url('https://fonts.googleapis.com/css?family=Roboto Flex');

	@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

	
	@import url('../Css/mainPageCoreStyle.css');

	:root {
		--stepOfTopground: 0.1%;

		--highlightTextColor: rgb(117, 42, 6);

		--animeSlideOut: 0.6s;
		--step1:  0.3s;

		--upArrowUrl: url("../Assets/arrow5.png");
		--upArrowHoverUrl: url("../Assets/arrow4.png");
		--downArrowUrl: url("../Assets/arrow4.png");
		--downArrowHoverUrl: url("../Assets/arrow5.png");
	}

	div {
		-ms-overflow-style: none;  /*IE AND EDGE*/
		scrollbar-width: none;  /*FIREFOX*/
	}
	
	/*HIDE SCROLLBAR FOR CHROME, SAFARI and OPERA*/
	div::-webkit-scrollbar {
		  display: none;
	}

	/*GENERAL RULES ELEMENTS*/
	.big_Title {
		font-size: 34px;
	}
	.medium_Title {
		font-size: 24px;
	}
	.small_Title {
		font-size: 22px;
	}
	.highlight_Title {
		color: var(--highlightTextColor) !important;
		font-weight: bold !important;
	}

	.medium_Highlight_Text {
		color: var(--highlightTextColor) !important;
		font-size: 20px;
		font-weight: bold !important;
	}
	.simple_Highlight_Text {
		color: var(--highlightTextColor) !important;
		font-size: 18px;
		font-weight: bold !important;
	}

	.simple_Text {
		font-size: 18px;
	}
	.small_Text {
		font-size: 16px;
	}

	.button_Text {
		font-size: 16px;
	}

	.lineToBreakContentC {
		position: relative;
		display: block;
		width: 60%; height: 4px;
		background: rgba(255, 255, 255, 0.2);
		border-radius: 4px;
		opacity: 0;
		margin: 80px auto 60px auto;
		animation: ShowElement var(--animationShowLine) linear var(--animationDelayShowLine) 1;
		animation-fill-mode: forwards;
	}

	.animShow {
		animation: ShowElement var(--animationShow) linear 1;
		animation-fill-mode: forwards;
	}

	.animSlideIn {
		animation: SendScreenInViewWithSkew var(--animationEnter) ease-out 1;
		animation-fill-mode: forwards;
	}

	/*SPECIFIC CONTENT FROM NOW ON*/
	#aboutMeBodyC {
		position: relative;
		display: block;
		width: 100%; height: 100%;
		color: white;
	}

		#aboutMeBodyTopGround1C {
			top: 0;
			bottom: calc(87.5% - var(--stepOfTopground));
			animation-delay: var(--animeSlideOut);
		}
		#aboutMeBodyTopGround2C {
			top: 12.5%;
			bottom: calc(75% - var(--stepOfTopground));
			animation-delay: calc(var(--animeSlideOut) + calc(var(--step1) * 1));
		}
		#aboutMeBodyTopGround3C {
			top: 25%;
			bottom: calc(62.5% - var(--stepOfTopground));
			overflow: hidden;
			animation-delay: calc(var(--animeSlideOut) + calc(var(--step1) * 2));
		}
		#aboutMeBodyTopGround4C {
			top: 37.5%;
			bottom: calc(50% - var(--stepOfTopground));
			animation-delay: calc(var(--animeSlideOut) + calc(var(--step1) * 3));
		}
		#aboutMeBodyTopGround5C {
			top: 50%;
			bottom: calc(37.5% - var(--stepOfTopground));
			animation-delay: calc(var(--animeSlideOut) + calc(var(--step1) * 4));
		}
		#aboutMeBodyTopGround6C {
			top: 62.5%;
			bottom: calc(25% - var(--stepOfTopground));
			animation-delay: calc(var(--animeSlideOut) + calc(var(--step1) * 5));
		}
		#aboutMeBodyTopGround7C {
			top: 75%;
			bottom: calc(12.5% - var(--stepOfTopground));
			animation-delay: calc(var(--animeSlideOut) + calc(var(--step1) * 6));
		}
		#aboutMeBodyTopGround8C {
			top: 87.5%;
			bottom: calc(0% - var(--stepOfTopground));
			animation-delay: calc(var(--animeSlideOut) + calc(var(--step1) * 7));
		}
		.aboutMeBodyTopGroundAnimC {
			position: absolute;
			display: block;
			width: 100%;
			background: linear-gradient(120deg, rgb(0, 4, 40, 0.5) 0%, rgb(44, 62, 80, 0.5) 50%, rgb(0, 4, 40, 0.5) 100%);
			z-index: 2;
    		animation: MoveLeftTopGround 1s ease-in-out 1;
	    	animation-fill-mode: forwards;
		}

		#aboutMeBodyTopGroundOverC {
			position: absolute;
			display: block;
			float: right;
			top: 0;
			right: 50%;
			margin-top: 40px;
			z-index: 2;
			transform: translate(50%, 0);
			animation: MoveOverTopGroundToMainPos 1.5s ease-in-out 2s 1;
			animation-fill-mode: forwards;
		}
			#aboutMeBodyTopGroundHeartC {
				position: relative;
				display: inline-block;
				font-size: 400%;
				left: 50%;
				transform: translate(-50%, 0);
				animation: AfterTopGroundHeartAction 1.5s ease-in-out 2s 1;
				animation-fill-mode: forwards;
			}
			#aboutMeBodyTopGroundHeart {
				animation: BeatingHeart 1.5s linear infinite, 
					ColorHeart 1s ease-in-out 2s 1;
				animation-fill-mode: forwards;
			}

			/*big_Title*/
			#aboutMeBodyTopGroundP {
				position: relative;
				display: block;
				color: white;
				text-align: center;
				overflow: hidden;
				animation: AfterTopGroundParAction 1.5s ease-in-out 2s 1;
				animation-fill-mode: forwards;
			}



		#aboutMeBodyMainC {
			position: relative;
			display: block;
			width: 100%;
			background: transparent;
			overflow: hidden;
		}
		#aboutMeMainContentC {
			position: relative;
			display: block;
			width: 100%;
			background: transparent;
			overflow: hidden;
		}
		#changeContentAboutMeBtnC {
			position: relative;
			display: block;
			width: 100%;
			background: transparent;
			overflow: hidden;
		}
			/*.button_Text*/
			#changeContentAboutMeBtn {
				position: relative;
				display: block;
				background: transparent;
				color: white;
				border-radius: 2px;
				border: 1px solid white;
				cursor: pointer;
				margin: 5px auto 5px auto;
				transform: translateY(calc(-100% - 10px));
				animation: ShowMenu 0.5s linear 1;
				animation-delay: calc(var(--animeSlideOut) + calc(var(--step1) * 7));
				animation-fill-mode: forwards;
			}
		#titlesGeneralBtnC {
			position: relative;
			display: block;
			width: 100%;
			overflow: hidden;
			margin: 20px 0 0 0;
		}
			/*.medium_Title*/
			#titleEducationH {
				position: relative;
				display: inline-block;
				background: transparent;
				color: white;
				border-bottom: 3px solid white;
				opacity: 0;
				margin: 0;
				padding: 10px 0 5px 0;
				animation: SendScreenInViewWithSkew 1s ease-out calc(var(--animationWaitToEnter)) 1;
				animation-fill-mode: forwards;
			}
		
		.aboutMePageContent {
			position: relative;
			display: none;
			width: 100%;
			opacity: 0;
			overflow: hidden;
			transform: translateX(-100%) skew(-90deg);
			transition: opacity 0.5s, transform 0.5s;
		}

		/*POINT1998*/
		#aboutMeEducationC {
		}
			/*.simple_text .animShow*/
			#textIntroEducationP {
				text-align: center;
				opacity: 0;
				margin: 20px 0 40px 0;
				padding: 0 5% 0 5%;
				animation-delay: calc(var(--animationWaitToShow) + calc(var(--step3) * 1));
			}
			/*.medium_Highlight_Text*/
			#textIntroEducationP span {
			}

			#textIntroEducationC {
				position: relative;
				display: block;
				background: transparent;
				overflow: auto;
				z-index: 1;
			}
			/*.animShow*/
			#textIntroInfoAboutMeEduC {
				position: relative;
				display: inline-block;
				left: 50%;
				opacity: 0;
				padding: 0 10% 0 10%;
				transform: translate(-50%, 0);
				animation-delay: calc(var(--animationWaitToShow) + calc(var(--step3) * 1));
			}
			/*.simple_text*/
			#textIntroInfoAboutMeEduUl {
				position: relative;
				display: block;
				margin: 0;
				padding: 0;
			}
				.textIntroInfoAboutMeEduLi {

				}
				/*.medium_Highlight_Text*/
				.textIntroInfoAboutMeEduLi span {
				}
				.textIntroInfoAboutMeEduLi span img {
					width: 16px; height: 16px;
					margin: 0 0 -3px 7px;
					content: url(../Assets/loading2.png);
					animation: Loader 1s ease-in-out infinite;
					animation-delay: calc(var(--animationWaitToShow) + calc(var(--step3) * 1));
				}

			/*.animSlideIn*/
			#chartTitleC {
				position: relative;
				display: block;
				overflow: auto;
				opacity: 0;
				margin-top: 50px;
				padding: 0 5% 0 5%;
				z-index: 1;
				animation-delay: calc(var(--animationWaitToEnter) + calc(var(--step2) * 1));
			}
			/*.small_Title*/
			#chartTitleH {
				position: relative;
				display: block;
				float: left;
				text-align: center;
				left: 50%;
				transform: translate(-50%, 0);
			}
			/*.highlight_Title*/
			#chartTitleH span {
				color: rgb(117, 42, 6);
				padding: 0 2px 0 2px;
			}

			/*.animSlideIn*/
			#chartWrapC {
				position: relative;
				display: block;
				width: 100%; height: 600px;
				overflow: hidden;
				margin: -80px 0 -60px 0;
				animation-delay: calc(var(--animationWaitToEnter) + calc(var(--step2) * 2));;
			}
			.elementsMoveInsight {
				opacity: 0;
				transform: translate(-100%, 0);
			}
				#chartCC {
					position: absolute;
					display: block;
					wdith: 100%; height: 100%;
					left: 0; right: 0;
					overflow: hidden;
				}
					#chartC {
						position: relative;
						width: 100%; height: 100%;
						background: transparent;
					}

				#eduChartLoadingFullC {
					position: absolute;
					display: none;
					width: 90%; height: 90%;
					background: rgba(0, 0, 0, 0.6);
					border: 2px solid rgb(117, 42, 6);
					top: 50%;
					left: 50%;
					z-index: -1;
					transform: translate(-50%, -50%);
				}
					#eduChartCenterLoaderC {
						position: relative;
						display: block;
						width: 8vw; height: 8vw;
						max-width: 100px; max-height: 100px;
						background: transparent;
						top: 50%;
						left: 50%;
						transform: translate(-50%, -50%);
					}
					#eduChartCenterLoadingImg {
						position: relative;
						display: block;
						width: 100%; height: 100%;
						content: url("../Assets/loading1.png");
						animation: LoadingCharts 0.5s ease-in-out infinite;
						animation-play-state: paused;
					}

			#eduCoursesOfUniversityC {
				position: relative;
				display: block;
				width: 100%;
				background: transparent;
			}
			#titleWrapAboutSemestersChooseC {
				position: relative;
				display: block;
				width: 100%;
				background: transparent;
			}
			/*.animSlideIn*/
			#titleAboutSemestersChooseC {
				position: relative;
				display: block;
				width: 140px;
				background: transparent;
				transform: translate(-100%, 0);
				animation-delay: calc(var(--animationWaitToEnter) + calc(var(--step2) * 3));
			}
				#semestersUpBtnC {
					position: relative;
					display: block;
					width: 26px; height: 18px;
					margin: auto; margin-bottom: 6px;
				}
				#semestersUpBtn {
					position: relative;
					display: block;
					width: 100%; height: 100%;
					background: transparent;
					border: none;
					cursor: pointer;
					opacity: 0;
					box-sizing: border-box;
					padding: 0;
					transition: opacity 0.2s;
				}
				#semestersUpBtn img {
					width: 100%; height: 100%;
					content: var(--upArrowUrl);
				}
				#semestersUpBtn:hover img {
					content: var(--upArrowHoverUrl);
				}
				
				#semestersTitleC {
					position: relative;
					display: block;
					background: rgb(255, 255, 255, 0.3);
					border: 2px solid white;
					overflow: hidden;
					-ms-overflow-style: none;  /*IE AND EDGE*/
					scrollbar-width: none;  /*FIREFOX*/
				}
				/*HIDE SCROLLBAR FOR CHROME, SAFARI and OPERA*/
				#semestersTitleC::-webkit-scrollbar {
				  display: none;
				}
				
				#semestersDownBtnC {
					position: relative;
					display: block;
					width: 26px; height: 18px;
					background: transparent;
					margin: auto; margin-top: 6px;
				}
				#semestersDownBtn{
					position: relative;
					display: block;
					width: 100%; height: 100%;
					background: transparent;
					border: none;
					cursor: pointer;
					box-sizing: border-box;
					padding: 0;
					transition: opacity 0.5s;
				}
				#semestersDownBtn img {
					width: 100%; height: 100%;
					transform: rotate(180deg);
					content: var(--downArrowUrl);
				}
				#semestersDownBtn:hover img {
					content: var(--downArrowHoverUrl);
				}

			.verticalDragC {
				position: relative;
				display: block;
				width: 100%;
				background: transparent;
				margin-top: 0;
				transition: margin 0.4s;
			}
			.verticalDragP {
				position: relative;
				display: block;
				color: white;
				font-size: 18px !important;
				text-align: center;
				border: 1px solid transparent;
				box-sizing: border-box;
				padding: 4px 5px 0 5px;
				transform: scale(1);
				transition: transform 0.3s;
			}
				.verticalMenuSemesterSp {
					color: rgb(0, 0, 0, 0.5);
					font-weight: bold;
				}

				.verticalMenuTextSp {

				}
				.verticalDragP:hover .verticalMenuTextSp {
					color: rgb(0, 0, 0, 0.5);
				}


			/*.animSlideIn*/
			#semestersContentC {
				position: relative;
				display: block;
				background: transparent;
				opacity: 0;
				margin-top: 20px;
				padding: 0 5% 0 5%;
				transition: opacity 0.2s;
				animation-delay: calc(var(--animationWaitToEnter) + calc(var(--step2) * 4));
			}
				.semesterTitleC {
					position: relative;
					display: block;
					background: transparent;
					border-bottom: 2px solid white;
					overflow: auto;
					padding: 6px 2% 6px 2%;
				}
					/*.small_Title*/
					.semesterTitleH {
						position: relative;
						display: block;
						float: left;
						background: transparent;
						margin: 0;
						padding: 0;
					}
					/*.highlight_Title*/
					.semesterTitleH span {
					}
					
					.semesterTitleAverageC {
						position: relative;
						display: block;
						float: right;
					}
					/*.small_Text*/
					.semesterTitleAverageP {
						position: relative;
						display: block;
					}
						.semesterTitleAverageTextSp {
							position: relative;
							margin-right: 5px;
							font-style: italic;
						}
						/*.medium_Highlight_Text*/
						.semesterTitleAverageSp {
							position: relative;
						}
				
				.semesterMainContentC {
					padding: 0 2% 0 2%;
				}
				.currSemesterCourseWrapC {
					border: 4px solid var(--highlightTextColor);
					border-top: none;
					border-bottom: 1px solid white;
					overflow: auto;
					box-sizing: border-box;
					padding: 4px 0 4px 0;
				}
					.currSemesterCourseC {
						position: relative;
						display: block;
						float: left;
						width: 88%;
						box-sizing: border-box;
						padding-left: 2%;
					}
					/*.small_Text*/
					.currSemesterCourseP {
						text-align: left;
					}
					.currSemesterCourseWrapC:hover .currSemesterCourseP {
						color: grey;
					}

					.currSemesterCourseGradeC {
						position: relative;
						display: block;
						float: right;
						width: 12%; height: 100%;
						box-sizing: border-box;
						padding-right: 5%;

					}
					/*.simple_Text*/
					.currSemesterCourseGradeP {
						position: relative;
						display: block;
						height: 100%;
						text-align: right;
					}
					.currSemesterCourseWrapC:hover .currSemesterCourseGradeP {
						color: var(--highlightTextColor);
					}


			#infoAndPhotosOfUniversityC {

			}

		/*POINT1998*/
		#aboutMeSkillsC {
			background: transparent;
		}
		#aboutMeSkillsIntroC {
			position: relative;
			display: block;
			width: 80%;
			background: transparent;
			box-sizing: border-box;
			margin: auto; margin-top: 40px; margin-bottom: -20px;
			padding: 0 10px 0 10px;
		}
			#aboutMeSkillsIntroC h2 {
				position: relative;
				display: block;
				text-align: center;
				margin: 0 0 10px 0;
			}
			#aboutMeSkillsIntroC p {
				position: relative;
				display: block;
				text-align: center;
			}

		.aboutMeSkillWrapC {
			position: relative;
			display: block;
			width: 100%;
		}
		.skillOverallWrapC {
			position: relative;
			display: block;
			width: 100%;
			overflow: auto;
		}
			.skillOverallLeftC {
				position: relative;
				display: block;
				float: left;
				width: 50%;
			}
			.skillOverallChartC {
				position: relative;
				display: block;
				width: 100%; height: 200px;
				overflow: hidden;
				animation: SendScreenInView var(--animationEnter) linear 1;
				animation-fill-mode: forwards;
			}
				.chartSkillsCC {
					position: absolute;
					display: block;
					wdith: 100%; height: 100%;
					left: 0; right: 0;
					overflow: hidden;
				}
				.chartSkillsC {
					position: relative;
					width: 100%; height: 100%;
					background: transparent;
				}

				.skillsChartLoadingFullC {
					position: absolute;
					display: none;
					width: 90%; height: 90%;
					background: rgba(0, 0, 0, 0.6);
					border: 2px solid rgb(117, 42, 6);
					top: 50%;
					left: 50%;
					z-index: -1;
					transform: translate(-50%, -50%);
				}
				.skillsChartCenterLoaderC {
					position: relative;
					display: block;
					width: 8vw; height: 8vw;
					max-width: 100px; max-height: 100px;
					background: transparent;
					top: 50%;
					left: 50%;
					transform: translate(-50%, -50%);
				}
				.skillsChartCenterLoaderImg {
					position: relative;
					display: block;
					width: 100%; height: 100%;
					content: url("../Assets/loading1.png");
					animation: LoadingCharts 0.5s ease-in-out infinite;
					animation-play-state: paused;
				}

			.skillOverallRightC {
				position: relative;
				display: block;
				float: right;
				width: 50%; height: 200px;
			}


	/*SCREEN WIDTH UNDER 1000px*/
	@media only screen and (max-width: 1000px) {
		.big_Title {
			font-size: 32px;
		}
		.medium_Title {
			font-size: 23px;
		}
		.small_Title {
			font-size: 19px;
		}

		.medium_Highlight_Text {
			font-size: 19px;
		}
		.simple_Highlight_Text {
			font-size: 17px;
		}

		.simple_Text {
			font-size: 17px;
		}
		.small_Text {
			font-size: 15px;
		}

		.button_Text {
			font-size: 15px;
		}
	}

	/*SCREEN WIDTH UNDER 850px*/
	@media only screen and (max-width: 850px) {
		.big_Title {
			font-size: 30px;
		}
		.medium_Title {
			font-size: 22px;
		}
		.small_Title {
			font-size: 18px;
		}

		.medium_Highlight_Text {
			font-size: 18px;
		}
		.simple_Highlight_Text {
			font-size: 16px;
		}

		.simple_Text {
			font-size: 16px;
		}
		.small_Text {
			font-size: 15px;
		}

		.button_Text {
			font-size: 15px;
		}

		/*CHANGE SEMESTER CONTENT*/
		#titleAboutSemestersChooseC {
			width: 120px;
		}

		.verticalDragP {
			font-size: 15px !important;
			padding-top: 1px;
		}
		/**/
	}

	/*SCREEN WIDTH UNDER 650px*/
	@media only screen and (max-width: 650px) {
		.big_Title {
			font-size: 28px;
		}
		.medium_Title {
			font-size: 20px;
		}
		.small_Title {
			font-size: 16px;
		}

		.medium_Highlight_Text {
			font-size: 16px;
		}
		.simple_Highlight_Text {
			font-size: 15px;
		}

		.simple_Text {
			font-size: 15px;
		}
		.small_Text {
			font-size: 14px;
		}

		.button_Text {
			font-size: 15px;
		}
	}

	/*SCREEN WIDTH UNDER 450px*/
	@media only screen and (max-width: 450px) {
		.big_Title {
			font-size: 25px;
		}
		.medium_Title {
			font-size: 18px;
		}
		.small_Title {
			font-size: 14px;
		}

		.medium_Highlight_Text {
			font-size: 15px;
		}
		.simple_Highlight_Text {
			font-size: 14px;
		}

		.simple_Text {
			font-size: 12px;
		}
		.small_Text {
			font-size: 11px;
		}

		.button_Text {
			font-size: 15px;
		}
	}

	/*SCREEN WIDTH UNDER 350px*/
	@media only screen and (max-width: 350px) {
		.big_Title {
			font-size: 18px;
		}
		.medium_Title {
			font-size: 16px;
		}
		.small_Title {
			font-size: 12px;
		}

		.medium_Highlight_Text {
			font-size: 13px;
		}
		.simple_Highlight_Text {
			font-size: 12px;
		}

		.simple_Text {
			font-size: 10px;
		}
		.small_Text {
			font-size: 9px;
		}

		.button_Text {
			font-size: 15px;
		}
	}




	/*ANIMATIONS*/
	@keyframes MoveLeftTopGround {
		0% {
			width: 100%;
		}
		100% {
			width: 0;
		}
	}

	@keyframes MoveOverTopGroundToMainPos {
		100% {
			right: 0;
			margin-top: 0;
			padding: 0 5px 0 0;
			transform: translate(0, 0);
		}
	}

	@keyframes AfterTopGroundHeartAction {
		38% {
			opacity: 0;
		}
		52% {
			opacity: 0;
		}
		100% {
			font-size: 200%;
			left: 0;
			transform: translate(0, 0);
		}
	}

	@keyframes BeatingHeart {
		0% {
			transform: scale(.8);
		}
		20% {
			text-shadow: 0 0 0.5vw rgb(150, 0, 0, 0.7);
			transform: scale(.9);
		}
		40% {
			transform: scale(.8);
		}
		60% {
			text-shadow: 0 0 0.5vw rgb(150, 0, 0, 0.7);
			transform: scale(1);
		}
		80% {
			transform: scale(.8);
		}
		100% {
			transform: scale(.8);
		}
	}

	@keyframes ColorHeart {
		0% {
			color: white;
		}
		100% {
			color: transparent;
		}
	}

	@keyframes AfterTopGroundParAction {
		20% {
			color: transparent;
		}
		50% {
			display: none;
			width: 0;
			float: right;
			color: transparent;
			padding-right: 6px;
		}
		100% {
			display: none;
			float: right;
			width: 0;
			right: 0px;
			color: transparent;
			font-size: 0;
			padding-left: 6px;
			transform: translate(0, 40%);
		}
	}

	@keyframes ShowMenu {
		0% {
			transform: translateY(-100%);
		}
		100% {
			transform: translateY(0);
		}
	}

	@keyframes ShowElement {
		0% {
			opacity: 0;
		}
		100% {
			opacity: 1;
		}
	}

	@keyframes SendScreenInViewWithSkew {
		0% {
			left: 0;
			opacity: 0;
			transform: translate(-100%, 0) skew(-120deg);
		}
		50% {
			opacity: 0;
		}
		100% {
			opacity: 1;
			left: 50%;
			transform: translate(-50%, 0) skew(0deg);
		}
	}
	@keyframes SendScreenInView {
		0% {
			left: 0;
			opacity: 0;
			transform: translate(-100%, 0);
		}
		50% {
			opacity: 0;
		}
		100% {
			opacity: 1;
			left: 50%;
			transform: translate(-50%, 0);
		}
	}


	@keyframes Loader {
		0% {
			transform: rotate(0deg);
		}
		100% {
			transform: rotate(360deg);
		}
	}

	@keyframes LoadingCharts {
		0% {
			transform: rotate(0deg);
		}
		100% {
			transform: rotate(360deg);
		}
	}