	/*FONT-FAMILIES USED*/
	@import url('https://fonts.googleapis.com/css?family=Flamenco');
	@import url('https://fonts.googleapis.com/css?family=Roboto Flex');

	@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

	
	@import url('../Css/mainPageCoreStyle.css');


	#resumeBodyC {
		position: relative;
		display: block;
		width: 100%; height: 100%;
	}


	/*SCREEN WIDTH UNDER 1200px*/
	@media only screen and (max-width: 1200px) {
		
	}


	/*ANIMATIONS*/